.profile-container {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 5px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.account-details {
  display: flex;
  flex-wrap: wrap; /* Wrap fields onto new lines */
  justify-content: space-between;
  /* padding: 0; */
}

.details-row {
  width: 48%; /* 2 items per row */
  margin-bottom: 15px; /* Add spacing between rows */
  display: flex;
  flex-direction: column; /* Ensure each field is stacked vertically */
}

.details-row p {
  margin: 5px 0; /* Add some margin to separate label and value */
}

.pair {
  /* This will allow pairs of fields to align on the same line */
  display: flex;
  justify-content: space-between;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
}

