
<div class="profile-container">
  <div class="profile-header">
    <img
      src="https://png.pngtree.com/png-clipart/20200224/original/pngtree-cartoon-color-simple-male-avatar-png-image_5230557.jpg"
      alt="Profile Image" class="profile-image" />
    <h2 style="color: white;">{{ employeeFields[0].value }} {{ employeeFields[2].value }} {{ employeeFields[3].value }}</h2>
    <p>{{ employeeFields[8].value }}</p> <!-- Role -->
  </div>

  <h2 class="d-flex justify-content-center align-items-center mb-5 p-5">Account Details</h2>

  <div class="account-details">
    <div *ngFor="let field of employeeFields; let i = index" class="details-row p-3" [ngClass]="{'pair': i % 2 === 0}">
      <p><strong>{{ field.label }}:</strong>
        <!-- <span *ngIf="!isEditMode">{{ field.value }}</span> -->
        <span *ngIf="!isEditMode || !field.editable">{{ field.value }}</span>

        <ng-container *ngIf="isEditMode && !field.editable">
          <ng-container [ngSwitch]="field.type">
            <input *ngSwitchCase="'text'" class="form-control" [(ngModel)]="field.value" />
            <input *ngSwitchCase="'email'" class="form-control" [(ngModel)]="field.value" type="email" />
            <input *ngSwitchCase="'tel'" class="form-control" [(ngModel)]="field.value" type="tel" />
            <input *ngSwitchCase="'time'" class="form-control" [(ngModel)]="field.value" type="time" />
            <input *ngSwitchCase="'date'" class="form-control" [(ngModel)]="field.value" type="date" />
            <select *ngSwitchCase="'select'" class="form-control" [(ngModel)]="field.value">
              <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
            </select>
          </ng-container>
        </ng-container>
      </p>
    </div>
  </div>

  <button class="btn btn-primary" (click)="toggleEditMode()">{{ isEditMode ? 'Update' : 'Edit' }}</button>
</div>


