<div class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My PaySLips</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <button class="btn btn-dark " (click)="profilepage()">profile</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  





 <table class="table table-striped table-bordered table-hover custom-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center">Payslips</th>
        <th scope="col" class="text-center">Month</th>
        <th scope="col" class="text-center">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td><a href="assets/payslips/january_payslip.pdf" download="January_Payslip.pdf" class="btn btn-link">January Payslip</a></td>
        <td>January</td>
        <td><a href="/DocScanner 15 Oct 2024 11-25" download="January_Payslip.pdf" class="btn btn-primary">Download</a></td>
      </tr>
      <tr class="text-center">
        <td><a href="assets/payslips/february_payslip.pdf" download="February_Payslip.pdf" class="btn btn-link">February Payslip</a></td>
        <td>February</td>
        <td><a href="assets/payslips/february_payslip.pdf" download="February_Payslip.pdf" class="btn btn-primary">Download</a></td>
      </tr>
      <tr class="text-center">
        <td><a href="assets/payslips/march_payslip.pdf" download="March_Payslip.pdf" class="btn btn-link">March Payslip</a></td>
        <td>March</td>
        <td><a href="assets/payslips/march_payslip.pdf" download="March_Payslip.pdf" class="btn btn-primary">Download</a></td>
      </tr>
    </tbody>
  </table>
  